[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/acresearch/Desktop/RosettaDesign]
row=0
col=0

[/home/acresearch/Desktop/test.pdb]
row=3
col=0

[/home/acresearch/Desktop/test.py]
row=2
col=0

[/home/acresearch/Desktop/Notes]
row=4
col=0

[/home/acresearch/Desktop/scaffolding]
row=1
col=0

