[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/acresearch/Desktop/RosettaDesign]
row=5
col=0

[/home/acresearch/Desktop/2017_protein_design]
row=3
col=0

[/home/acresearch/Desktop/Phytoplankton]
row=6
col=0

[/home/acresearch/Desktop/2018_scaffolding]
row=4
col=0

[Wastebasket]
row=0
col=0

[/]
row=1
col=0

[/home/acresearch]
row=2
col=0

